.table
{
	width: 1000px;
	margin: 0% auto 0% auto;
}

.block
{
	background-color: black;
	width: 200px;
	height: 200px;
	float: left;
	margin: 5px;
}

#block
{
	width: 100px;
	height: 100px;
	margin: 50px;
	background-color: red;
}

#pryamougolnik
{
	width: 200px;
	height: 100px;
	margin: 50px 0px;
	background-color: red;
}

#parallelogramm
{
	width: 143px;
	height: 100px;
	margin: 50px 28.5px;
	background-color: red;
	transform: skew(30deg);
}

#trapeziya
{
	width: 100px;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
	margin: 50px 0px;
}

#zvezda
{
	width: 0px;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid blue;
	position: relative;
	margin: 33px 50px;
}

#zvezda:after
{
	width: 0px;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid blue;
	position: absolute;
	left: -50px;
	top: 30px;
	content: "";
}

#zvezdachka
{
	width: 0px;
	height: 0px;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 70px solid blue;
	position: relative;
	display: block;
	transform: rotate(35deg);
	margin: 65px 3px;
}

#zvezdachka:before
{
	width: 0px;
	height: 0px;
	left: -62px;
	top: -45px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 80px solid blue;
	position: absolute;
	display: block;
	transform: rotate(-35deg);
	margin();
	content: "";
}

#zvezdachka:after
{
	width: 0px;
	height: 0px;
	left: -105px;
	top: 3px;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 70px solid blue;
	position: absolute;
	display: block;
	transform: rotate(-70deg);
	margin();
	content: "";
}